body {
    font-family: 'Open Sans', sans-serif;
}


.row{
    .box{
        padding: 10px;
    }
    .footer {
        padding-top: 30px;
    }

} 

.headings {
    margin-bottom: 0px;
    padding: 16px;
}

.accordion .button-last{
    &.collapsed{
        padding-bottom: 45px;
    }
}

.accordion .last-button.collapsed{
    padding-bottom: 82px;
}

.accordion .last-button-2.collapsed {
    padding-bottom: 45px;
}

.accordion .last-button-3.collapsed{
    padding-bottom: 67PX;
}

// .img-pic {
//     background-image: url('../assets/links.png');
//     background-size: contain;
//     background-repeat: no-repeat;
// }




.button-3 {
    color: white;
    background-color: #edc765;
}

.button-4 {
    background-color: #c97b7b;
}

.button-1:focus {
    background-color: #72a769;
}

.button-2:focus {
    background-color:  #81a8cc;
}

.button-3:focus {
    background-color: #edc765;
}

.button-4:focus {
    background-color: #c97b7b;
}

.button-4:not(.collapsed){
    color: white;
    background-color: #c97b7b;
}

.accordion .button-1{
    &:not(.collapsed){
        color: white;
        background-color: #72a769; 
    }
    
    &.button-1 {
        background-color: #72a769;
    }
    
}

.accordion .button-2{
    &:not(.collapsed){
        color: white;
        background-color: #81a8cc;
    }
    &.button-2 {
        background-color: #81a8cc;
    }

}

.accordion .button-3{
    &:not(.collapsed){
        color: white;
        background-color:  #edc765; 
    }
    
    &.button-3 {
        background-color:  #edc765;
    }
    
}

.accordion .button-4{
    &:not(.collapsed){
        color: white;
        background-color:  #c97b7b; 
    }
    
    &.button-4 {
        background-color:  #c97b7b;
    }
    
}

.accordion-collapse-1, .button-1.collapsed {
    background-color: #539347;
}

.button-2.collapsed, .accordion-collapse-2 {
    background-color: #578bbb;
}
.button-3.collapsed, .accordion-collapse-3 {
    /* color: white; */
    background-color: #ebbf4f;
}
.button-4.collapsed, .accordion-collapse-4 {
    /* color: white; */
    background-color: #b74f4f;
}
.news-accordion-collapse {
    /* color: white; */
    background-color: #816550;
}

.career-accordion-collapse {
    background-color: #87689e;
}


.accordion .buttons{
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    // border-top: 1px white solid;
    // border-bottom: 1px white solid;
    padding: 0;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    color: white;
    
    &.buttons:focus{
        // background-color: blueviolet;
        box-shadow: none;
        border-color: white;
        color: white;
    }

    &.buttons:hover{
        color: white;
    }
}

.accordion .news-button {
    box-shadow: none;
    border-color:white;
    font-size:15px;
    // border-top: 1px white solid;
    // border-bottom: 1px white solid;
    padding: 0;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    color: white;
    background-color: #917861;

    &.news-button:focus {
        box-shadow: none;
        border-color:white;
        color: white;
        background-color: #917861;
    }

    &.news-button:not(.collapsed){
        color: white;
        background-color: #917861;
}
}
.accordion .career-button{
        font-size:15px;
        // border-top: 1px white solid;

        padding: 0;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 16px;
        color: white;
        background-color: #957aa9;

    &:not(.collapsed){
        color: white;
        background-color: #957aa9;
    }

    &.career-button:focus {
        box-shadow: none;
        border-color:white;
        color: white;
        background-color: #957aa9;
    }
    
}

.accordion-item {
    border: none;
}
.purpose-heading {
    background-color: #287819;
    color: white;
    border-bottom: 1px white solid;
    // padding-bottom: 1px;
    // padding: 4px;
    // padding-left: 15px;
}
.capabilities-heading {
    background-color: #2d6eaa;
    color: white;
    border-bottom: 1px white solid;
    // padding-bottom: 1px;
    // padding: 4px;
    // padding-left: 15px;
}
.workstreams-heading {
    background-color: #e6af23;
    color: white;
    border-bottom: 1px white solid;
    // padding-bottom: 1px;
    // padding: 4px;
    // padding-left: 15px;
}
.people-heading {
    background-color: #a52323;
    color: white;
    border-bottom: 1px white solid;
    // padding-bottom: 1px;
    // padding: 4px;
    // padding-left: 15px;
}

// footer-section 

.news-heading {
    white-space: nowrap;
    background-color: #623e24;
    color: white;
    border-bottom: 1px white solid;
    // padding: 1px;
    // padding-left: 15px;
}

.career-heading {
    background-color: #724d8d;
    color: white;
    border-bottom: 1px white solid;
    // padding: 4px;
    // padding-left: 15px;
}

.grey-digital-links{
    background-color:#9d9d9d;
    height: 203px;
}

.enterpise-digital-links {
    white-space: nowrap;
    background-color: #666666;
    color: white;
    border-bottom: 1px white solid;
    // padding: 4px;
    // padding-left: 15px;
}

.link{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
    display: block;
    text-decoration: none;
    color: white;
    // border-top: 1px white solid;
    border-bottom: 1px white solid;

    &.link:hover{
        color: white;
    }
}

.bottom-link{
    padding: 5px;
    padding-left: 15px;
    margin: 0px;
    display: block;
    text-decoration: none;
    color: white;

    &.bottom-link:hover{
        color: white;
    }
}

.digital-links-box{
    background-color:#eaab5e;
    height: 444px;
    background-image: url('../assets/links.png');
    background-size: 190px 190px;
    background-repeat: no-repeat;
    background-position: 25px 233px;
}

.digital-Quick-links {
    background-color: #e18719;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px white solid;
}


.collapse{
    color: white;
}

.link-box {
    // border-top: 1px white solid;
    border-bottom: 1px white solid;
}
.accordion-header {
    padding:0;
}

.accordion .accordion-body {
    padding: 0;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    // padding-right: 10px;
    font-size: 15px;

    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        font-weight: bolder;
        text-decoration: none;
        color: white;
    }
}

.accordion .accordion-button {
    &.collapsed::after {
        background-image: url("../assets/mini-plus.png");
        background-size: auto;
        background-position: center;
    }

    &:not(.collapsed)::after {
        background-image: url("../assets/mini-minus.png");
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
}

// bottom section 
.toolbox-header {
    background-color: #578bbb;
}

.toolbox-section {
    min-height: 200px;
    background-color: #eaf0f7;
}

// #toolbox {
//     display: none;
// }
// #toolbox:target {
//     display: block;
// }


